*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
}

#home{
  background-image: url('hye.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  background-repeat: no-repeat;
}

.nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}


.navbar-brand img{
  height: 45px;
  padding-left: 30px;
}

.navbar-nav li{
  padding: 10 20px;
}

.navbar-nav li a{
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  color: white !important;
  font-weight: 600;
  float: right;
  text-align: left;
  padding-left: 100px;
}

.navbar-nav li a:hover{
  color: 
} 


.fa-bars{
  color: black;
  font-size: 25px !important;
}

.navbar-toggler{
  outline: none !important;
}


.typewriter h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid yellow; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.head{
  padding-top: 130px;
  width: 70%;
  padding-left: 490px;
  text-align: center;
  color: white !important;
}

.head h1{
  font-weight: 1000px;
  font-family: Lobster;
  color :yellow;
  font-size: 50px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}